[Container]
ContainerName=backup

# default is daily but let's see what costs are like for a bit
Environment=BACKUP_CRON_EXPRESSION="0 10 * * *"
Environment=AWS_S3_BUCKET_NAME=codabool-backups
Environment=AWS_STORAGE_CLASS=GLACIER
Environment=BACKUP_RETENTION_DAYS=7
Environment=NOTIFICATION_LEVEL=info
EnvironmentFile=/mnt/volumes/.backup.env

Image=docker.io/offen/docker-volume-backup

Volume=/mnt/volumes:/backup/volumes:ro,z
Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:ro,z

#PodmanArgs=--privileged

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
