[Container]
ContainerName=foundry
Environment=FOUNDRY_GID=1000
Environment=FOUNDRY_UID=1000

# https://foundryvtt.com/releases
Environment=FOUNDRY_VERSION=12.331
Environment=CONTAINER_PRESERVE_CONFIG=true
Environment=FOUNDRY_MINIFY_STATIC_FILES=true
Environment=FOUNDRY_TELEMETRY=false
Environment=FOUNDRY_CSS_THEME=scifi
EnvironmentFile=/mnt/hdd/volumes/.foundry.env
HealthCmd=curl --fail http://localhost:30000 || exit 1
Image=docker.io/felddy/foundryvtt
PublishPort=30000:30000
Volume=/mnt/hdd/volumes/foundry_1:/data:Z

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
