[Container]
ContainerName=foundry_2
Environment=FOUNDRY_GID=1000
Environment=FOUNDRY_UID=1000

# https://foundryvtt.com/releases
Environment=FOUNDRY_VERSION=11.315
Environment=CONTAINER_PRESERVE_CONFIG=true
Environment=FOUNDRY_MINIFY_STATIC_FILES=true
Environment=FOUNDRY_TELEMETRY=false
Environment=FOUNDRY_CSS_THEME=scifi
EnvironmentFile=/mnt/hdd/volumes/.foundry.env
HealthCmd=curl --fail http://localhost:30000 || exit 1
Image=docker.io/felddy/foundryvtt
PublishPort=30001:30000
Volume=/mnt/hdd/volumes/foundry_2:/data:Z
#PodmanArgs=--priviledged

[Service]
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
ExecStartPre=/usr/bin/sleep 10


[Install]
WantedBy=default.target
