# gluetun.container
[Unit]
Wants=qbit.service prowlarr.service radarr.service sonarr.service

[Container]
AddCapability=NET_ADMIN
AddDevice=/dev/net/tun:/dev/net/tun
ContainerName=gluetun
Environment=VPN_SERVICE_PROVIDER=protonvpn
Environment=VPN_TYPE=wireguard
EnvironmentFile=/mnt/hdd/volumes/.gluetun.env
Image=docker.io/qmcgaw/gluetun
# PodmanArgs=--privileged

# prowlarr
PublishPort=9696:9696

# radarr
PublishPort=7878:7878

# sonarr
PublishPort=8989:8989

# qbit
PublishPort=8080:8080

# idk
PublishPort=39762:39762

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
