[Container]
ContainerName=jellyfin
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
HealthCmd=curl --fail http://localhost:8096 || exit 1
Image=lscr.io/linuxserver/jellyfin
PublishPort=8096:8096
Volume=/mnt/volumes/jellyfin:/config:Z
Volume=/mnt/media/movies:/data/movies:Z
Volume=/mnt/media/tv:/data/tvshows:Z

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target


# create these two folders inside the mounted media folder
# - tv
# - movies

# the docs mention these are optional ports to open
# - 8920:8920
# - 7359:7359/udp
# - 1900:1900/udp


# I have an NVIDIA GPU
# this means for encoding I need the RPMFusion repo for the drivers

# These steps entirely depend on your generation of card
# as well as assuming you are on Fedora

# sudo dnf install -y https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-$(rpm -E %fedora).noarch.rpm https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-$(rpm -E %fedora).noarch.rpm
# sudo dnf config-manager setopt fedora-cisco-openh264.enabled=1
# sudo dnf update -y
# sudo dnf install -y akmod-nvidia xorg-x11-drv-nvidia-cuda

# there is also steps to add Jellyfins own ffmpeg but I'm not sure its needed
# get latest URL from here
# https://repo.jellyfin.org/?path=/ffmpeg

# mkdir jellyfin-ffmpeg
# wget https://repo.jellyfin.org/files/ffmpeg/linux/latest-7.x/amd64/jellyfin-ffmpeg_7.0.2-8_portable_linux64-gpl.tar.xz
# tar -xvf jellyfin-ffmpeg_7.0.2-8_portable_linux64-gpl.tar.xz -C jellyfin-ffmpeg
# sudo mv jellyfin-ffmpeg /usr/lib
