[Container]
ContainerName=jellyfin
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
HealthCmd=curl --fail http://localhost:8096 || exit 1
Image=lscr.io/linuxserver/jellyfin
PublishPort=8096:8096
Volume=/mnt/volumes/jellyfin:/config:Z
Volume=/mnt/media/movies:/data/movies:Z
Volume=/mnt/media/tv:/data/tvshows:Z

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target


# create these two folders inside the mounted media folder
# - tv
# - movies

# the docs mention these are optional ports to open
# - 8920:8920
# - 7359:7359/udp
# - 1900:1900/udp