[Container]
ContainerName=plex
Environment=PUID=1000
Environment=PGID=1000
Environment=VERSION=docker
HealthCmd=nc -z 127.0.0.1 32400 || exit 1
Image=docker.io/linuxserver/plex
PublishPort=32400:32400
Volume=/mnt/hdd/volumes/plex:/config:Z
Volume=/mnt/hdd/media:/data:Z

# The following env vars are secret so set them within a .env file
# - PLEX_CLAIM=
# - ADVERTISE_IP=http://LOCAL_IP_HERE:32400/
EnvironmentFile=/mnt/hdd/volumes/.plex.env

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
