[Container]
ContainerName=plex
Environment=PUID=1000
Environment=PGID=1000
Environment=VERSION=docker
HealthCmd=nc -z 127.0.0.1 32400 || exit 1
Image=docker.io/linuxserver/plex
PublishPort=32400:32400
Volume=/hdd/volumes/plex:/config:Z
Volume=/hdd:/data:Z
EnvironmentFile=/hdd/volumes/.plex.env

[Service]
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
ExecStartPre=/usr/bin/sleep 10

[Install]
WantedBy=default.target
