# prowlarr.container

[Unit]
BindsTo=gluetun.service
After=gluetun.service

[Container]
ContainerName=prowlarr
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=UMASK=002
HealthCmd=pgrep Prowlarr > /dev/null || exit 1
Image=ghcr.io/hotio/prowlarr
PublishPort=9696:9696
Volume=/mnt/hdd/volumes/prowlarr:/config:Z
Network=container:gluetun

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
# ExecStartPre=/usr/bin/sleep 10

[Install]

# automatic startup
WantedBy=default.target
