# qbit.container
[Unit]
BindsTo=gluetun.service
After=gluetun.service


[Container]
ContainerName=qbit
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
Environment=WEBUI_PORT=8080
Environment=TORRENTING_PORT=24619
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:8080 || exit 1
Image=lscr.io/linuxserver/qbittorrent

Volume=/hdd/volumes/qbit:/config:Z
Volume=/hdd/downloads:/downloads:Z

Network=container:gluetun

[Service]
Restart=always


# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
ExecStartPre=/usr/bin/sleep 10

[Install]
WantedBy=default.target
