# radarr.container
[Unit]
BindsTo=gluetun.service
After=gluetun.service

[Container]
ContainerName=radarr
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:7878 || exit 1
Image=lscr.io/linuxserver/radarr
PublishPort=7878:7878


Volume=/mnt/hdd/volumes/radarr:/config:Z
Volume=/mnt/hdd/media/downloads:/downloads:Z
Volume=/mnt/hdd/media/movies:/movies:Z

Network=container:gluetun

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
# ExecStartPre=/usr/bin/sleep 10

[Install]

# automatic startup
WantedBy=default.target
