# radarr.container
[Unit]
BindsTo=gluetun.service
After=gluetun.service

[Container]
ContainerName=radarr
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
HealthCmd=wget --no-verbose --tries=1 --spider http://localhost:7878 || exit 1
Image=lscr.io/linuxserver/radarr
PublishPort=7878:7878


Volume=%h/.config/containers/systemd/volumes/radarr:/config:Z
#Volume=/hdd/downloads:/downloads:Z
#Volume=/hdd/movies:/movies:Z

Network=container:gluetun

[Service]
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
ExecStartPre=mkdir -p %h/.config/containers/systemd/volumes/radarr ; /usr/bin/sleep 10

[Install]
WantedBy=default.target
