# sonarr.container
[Unit]
BindsTo=gluetun.service
After=gluetun.service

[Container]
ContainerName=sonarr
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
HealthCmd=curl --fail http://localhost:8989 || exit 1
# https://hub.docker.com/r/linuxserver/sonarr
Image=lscr.io/linuxserver/sonarr
PublishPort=8989:8989


Volume=/mnt/volumes/sonarr:/config:Z
Volume=/mnt/media/downloads:/data/downloads:Z
Volume=/mnt/media/tv:/tv:Z

Network=container:gluetun

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target

# add trackers
# https://github.com/CodaBool/docker-public/blob/main/sonarr/readme.md
