# sonarr.container
[Unit]
BindsTo=gluetun.service
After=gluetun.service

[Container]
ContainerName=sonarr
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=America/New_York
HealthCmd=curl --fail http://localhost:8989 || exit 1
Image=lscr.io/linuxserver/sonarr
PublishPort=8989:8989


Volume=/mnt/hdd/volumes/sonarr:/config:Z
Volume=/mnt/hdd/media/downloads:/data/downloads:Z
Volume=/mnt/hdd/media/tv:/tv:Z

Network=container:gluetun

[Service]
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
ExecStartPre=/usr/bin/sleep 10

[Install]
WantedBy=default.target
