[Container]
ContainerName=syncthing
Environment=PUID=1000
Environment=PGID=1000
HealthCmd=nc -z 127.0.0.1 8384 || exit 1
Image=lscr.io/linuxserver/syncthing
# web ui
PublishPort=8384:8384
# tcp file transfers
PublishPort=22000:22000/tcp
# quic file transfers
PublishPort=22000:22000/udp
# receive local discovery broadcasts
PublishPort=21027:21027/udp
Volume=/mnt/hdd/volumes/syncthing:/config:Z
Volume=/mnt/hdd/sync:/sync:Z

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
