[Container]
ContainerName=tools

# been 2 years since a release, consider other images
# https://github.com/CorentinTh/it-tools/releases
Image=docker.io/corentinth/it-tools

PublishPort=8082:80

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
