[Container]
ContainerName=tools

# https://github.com/sharevb/it-tools/tree/chore/all-my-stuffs
Image=docker.io/sharevb/it-tools

PublishPort=8082:8080

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
