# tunnel.container
[Container]
ContainerName=tunnel
Environment=TUNNEL_METRICS=0.0.0.0:60123

# env has
# TUNNEL_TOKEN=

EnvironmentFile=/mnt/hdd/volumes/.tunnel.env
Exec=tunnel run
HealthCmd=["cloudflared","tunnel","--metrics","localhost:60123","ready"]
Image=docker.io/cloudflare/cloudflared
Network=host

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
