[Container]
ContainerName=uptime
Image=docker.io/louislam/uptime-kuma
PublishPort=3001:3001
Volume=/mnt/hdd/volumes/uptime:/app/data:Z
Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:Z,ro

# allows for uptime to reach other containers
Network=host

# privileged is needed it seems to read the podman.sock
PodmanArgs=--privileged

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
# ExecStartPre=/usr/bin/sleep 10

TimeoutStartSec=900

[Install]

# automatic startup
WantedBy=default.target
