[Container]
ContainerName=uptime
Image=docker.io/louislam/uptime-kuma
PublishPort=3001:3001
HealthCmd=curl --fail http://localhost:3001 || exit 1
Volume=/mnt/hdd/volumes/uptime:/app/data:Z
Volume=/run/user/1000/podman/podman.sock:/run/user/1000/podman/podman.sock:Z,ro

# allows for uptime to reach other containers
Network=host

# privileged is needed it seems to read the podman.sock
PodmanArgs=--privileged

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
