[Unit]
Requires=immich-network.service
After=immich-network.service

# update this image to match the example for latest image hashes
# https://github.com/immich-app/immich/blob/main/docker/docker-compose.yml

[Container]
ContainerName=immich_postgres
HostName=database
Environment=POSTGRES_PASSWORD=${DB_PASSWORD}
Environment=POSTGRES_USER=${DB_USERNAME}
Environment=POSTGRES_DB=${DB_DATABASE_NAME}
Environment=POSTGRES_INITDB_ARGS=--data-checksums
# example .env file
# DB_DATABASE_NAME=postgres
# DB_USERNAME=postgres
# DB_PASSWORD=

EnvironmentFile=/mnt/volumes/.immich.env
# this isn't in the docker-compose but seems to be required
Exec=postgres -c 'shared_preload_libraries=vchord.so,vectors.so'
HealthCmd=pg_isready -d postgres || exit 1

# https://github.com/immich-app/immich/blob/main/docker/docker-compose.yml
Image=ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
Volume=/mnt/volumes/immich_data:/var/lib/postgresql/data:Z
Network=immich-network

# since this uses a pinned version, do not auto update
# AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
