#[Unit]
#Requires=immich-network.service
#After=immich-network.service

[Container]
ContainerName=immich_machine_learning
EnvironmentFile=/mnt/hdd/volumes/.immich.env
Image=ghcr.io/immich-app/immich-machine-learning:release

# test leaving this volume out since its stateless
#Volume=/mnt/hdd/volumes/immich_cache:/cache:Z
Network=immich-network

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
