[Unit]
Requires=immich_redis.service immich_postgres.service
After=immich_redis.service immich_postgres.service

[Container]
ContainerName=immich

# example .env file
# DB_DATABASE_NAME=postgres
# DB_USERNAME=postgres
# DB_PASSWORD=

EnvironmentFile=/mnt/volumes/.immich.env
Image=ghcr.io/immich-app/immich-server:release
PublishPort=2283:2283
Volume=/mnt/volumes/immich_upload:/usr/src/app/upload:Z
Volume=/etc/localtime:/etc/localtime:ro
Network=immich-network
HealthCmd=immich-healthcheck

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
