[Unit]
Requires=immich-network.service
After=immich-network.service

# update this image to match the example for latest image hashes
# https://github.com/immich-app/immich/blob/main/docker/docker-compose.yml

[Container]
ContainerName=immich_postgres
HostName=database
Environment=POSTGRES_PASSWORD=${DB_PASSWORD}
Environment=POSTGRES_USER=${DB_USERNAME}
Environment=POSTGRES_DB=${DB_DATABASE_NAME}
Environment=POSTGRES_INITDB_ARGS=--data-checksums

# example .env file
# DB_DATABASE_NAME=postgres
# DB_USERNAME=postgres
# DB_PASSWORD=

EnvironmentFile=/mnt/volumes/.immich.env
Exec=postgres -c 'shared_preload_libraries=vectors.so' -c 'search_path="$$user", public, vectors' -c 'logging_collector=on' -c 'max_wal_size=2GB' -c 'shared_buffers=512MB' -c 'wal_compression=on'
HealthCmd=pg_isready -d postgres || exit 1
Image=docker.io/tensorchord/pgvecto-rs:pg14-v0.2.0
Volume=/mnt/volumes/immich_data:/var/lib/postgresql/data:Z
Network=immich-network

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
