[Container]
ContainerName=immich_ml

# example .env file
# DB_DATABASE_NAME=postgres
# DB_USERNAME=postgres
# DB_PASSWORD=

EnvironmentFile=/mnt/volumes/.immich.env
Image=ghcr.io/immich-app/immich-machine-learning:release
HealthCmd=python healthcheck.py
# test leaving this volume out since its stateless
#Volume=/mnt/volumes/immich_cache:/cache:Z
Network=immich-network

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
