[Unit]
Requires=immich-network.service
After=immich-network.service

[Container]
ContainerName=immich_machine_learning
EnvironmentFile=/mnt/hdd/volumes/.immich.env
Image=ghcr.io/immich-app/immich-machine-learning:release

# test leaving this volume out since its stateless
#Volume=/mnt/hdd/volumes/immich_cache:/cache:Z
Network=immich-network

[Service]
Restart=always

# workaround until https://github.com/containers/podman/issues/24796 is solved
# solves the container starting before the network is ready
ExecStartPre=/usr/bin/sleep 10


[Install]
WantedBy=default.target
