# update this image to match the example for latest image hashes
# https://github.com/immich-app/immich/blob/main/docker/docker-compose.yml

[Container]
ContainerName=immich_redis
HostName=redis
HealthCmd=redis-cli ping || exit 1
Image=docker.io/redis:6.2-alpine
Network=immich-network

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
