[Unit]
Requires=immich-network.service
After=immich-network.service

[Container]
ContainerName=redis
HealthCmd=redis-cli ping || exit 1
Image=docker.io/redis:6.2-alpine
Network=immich-network

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
