[Unit]
Requires=rss-network.service nitter-redis.service
After=rss-network.service nitter-redis.service

[Container]
ContainerName=nitter
Image=docker.io/zedeus/nitter
PublishPort=8089:8080/tcp
Network=rss-network
Volume=/mnt/volumes/nitter.conf:/src/nitter.conf:Z,ro
Volume=/mnt/volumes/sessions.jsonl:/src/sessions.jsonl:Z,ro 

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target

### Notes ###
# media 
# images 
# videos 
# native_video 
# quote 
# replies 
# retweets 
# nativetweets 
# tweets?

# filter=f
# excludes=e
