[Unit]
Requires=rss_db.service rss-network.service
After=rss_db.service rss-network.service

[Container]
ContainerName=rss
HealthCmd=/usr/bin/miniflux -healthcheck auto

# I have forked to remove some CSP headers
# which block out reddit m3u8 streams
#Image=ghcr.io/miniflux/miniflux
Image=ghcr.io/codabool/miniflux

PublishPort=8085:8080/tcp
Network=rss-network

# add Reddit API key & postgres URI
EnvironmentFile=/mnt/volumes/.rss.env
# write the latest Windows Chrome user agent to a file using a timer
EnvironmentFile=/mnt/volumes/user_agent.toml
Environment=RUN_MIGRATIONS=1
Environment=POLLING_PARSING_ERROR_LIMIT=0
Environment=MEDIA_PROXY_MODE=http-only
Environment=MEDIA_PROXY_ALLOW_PRIVATE_NETWORKS=1
#Environment=MEDIA_PROXY_RESOURCE_TYPES=

# allow for LLM to generate
Environment=HTTP_CLIENT_TIMEOUT=9999
Environment=HTTP_SERVER_TIMEOUT=9999

# default 100
Environment=BATCH_SIZE=10

# default is 60 (in minutes)
Environment=POLLING_FREQUENCY=5

# debug
Environment=LOG_LEVEL=debug

# auto update
AutoUpdate=registry

[Service]

# postgres lies about being ready
ExecStartPre=/bin/sleep 12

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
