[Unit]
Requires=rss_db.service rss-network.service
After=rss_db.service rss-network.service

[Container]
ContainerName=rss
HealthCmd=/usr/bin/miniflux -healthcheck auto
Image=docker.io/miniflux/miniflux
PublishPort=8085:8080/tcp
Network=rss-network

# add Reddit API key & postgres URI
EnvironmentFile=/mnt/volumes/.rss.env
Environment=RUN_MIGRATIONS=1

# allow for LLM to generate
Environment=HTTP_CLIENT_TIMEOUT=9999
Environment=HTTP_SERVER_TIMEOUT=9999

# default 100
Environment=BATCH_SIZE=10

# default is 60 (in minutes)
Environment=POLLING_FREQUENCY=5

# debug
#Environment=LOG_LEVEL=debug


# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# miniflux will startup before postgres is ready
ExecStartPre=/bin/sleep 70

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
