[Unit]
Requires=rss-network.service
After=rss-network.service

[Container]
ContainerName=rss_db
HealthCmd=pg_isready
HealthStartPeriod=30s

# follow the docs docker-compose
# https://miniflux.app/docs/docker.html#docker-compose
# for major versions, you need to do migration commands
# here was my last migration chat https://chatgpt.com/c/6955a5c3-b304-8326-9f2e-f09ef3899052
Image=docker.io/postgres:18
Volume=/mnt/volumes/rss:/var/lib/postgresql:z
EnvironmentFile=/mnt/volumes/.rss.env
Network=rss-network

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
