[Container]
ContainerName=librechat
Image=ghcr.io/danny-avila/librechat
#UserNS=keep-id:uid=1000,gid=1000
PublishPort=3080:3080/tcp

#MONGO_URI
#UID=1000
#GID=1000
#ENDPOINTS=openAI
#OPENAI_API_KEY
#OPENAI_MODELS
#PLUGIN_MODELS=

# required, use https://www.librechat.ai/toolkit/creds_generator
CREDS_KEY=
CREDS_IV=

#APP_TITLE=
#CUSTOM_FOOTER=[custom link](https://www.librechat.ai)


EnvironmentFile=/mnt/volumes/.librechat.env
#Volume=/mnt/volumes/images:/app/client/public/images:Z
#Volume=/mnt/volumes/logs:/app/api/logs:Z
Volume=%h/.config/containers/systemd/ai/librechat.yaml:/app/librechat.yaml:Z
#Network=container:gluetun

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
