[Container]
ContainerName=meili
Image=docker.io/getmeili/meilisearch:v1.12.3
#UserNS=keep-id:uid=1000,gid=1000
Environment=MEILI_HOST=http://meilisearch:7700
Environment=MEILI_NO_ANALYTICS=true
Environment=MEILI_MASTER_KEY=${MEILI_MASTER_KEY}

MEILI_NO_ANALYTICS=true
# required, use https://www.librechat.ai/toolkit/creds_generator
MEILI_MASTER_KEY=


Volume=/mnt/volumes/meili:/meili_data:Z
#Network=container:gluetun

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
