[Container]
ContainerName=meili
Network=container:librechat
Image=docker.io/getmeili/meilisearch:v1.12.3

# required, use https://www.librechat.ai/toolkit/creds_generator
EnvironmentFile=/mnt/volumes/.librechat.env
Volume=/mnt/volumes/meili:/meili_data:Z

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
