[Unit]
Requires=ai-network.service
After=ai-network.service

[Container]
ContainerName=meili
# pull this tag from the github
# https://github.com/danny-avila/LibreChat/blob/main/deploy-compose.yml
# a migration is needed to go from v1.12.3 to v1.31.0
#Image=docker.io/getmeili/meilisearch
Image=docker.io/getmeili/meilisearch
#Image=docker.io/getmeili/meilisearch:v1.12.3

# required, use https://www.librechat.ai/toolkit/creds_generator
EnvironmentFile=/mnt/volumes/.librechat.env
#Volume=/mnt/volumes/meili:/meili_data:Z
Network=ai-network

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
