[Unit]
Requires=ai-network.service
After=ai-network.service

[Container]
ContainerName=mongo
Network=ai-network
Image=docker.io/library/mongo:8.0.20
Volume=/mnt/volumes/mongo:/data/db:Z
Exec=mongod --noauth --bind_ip_all

# auto update
AutoUpdate=registry

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
