[Unit]
Requires=ai-network.service
After=ai-network.service

[Container]
ContainerName=mongo
Network=ai-network
Image=docker.io/library/mongo
Volume=/mnt/volumes/mongo:/data/db:Z
Exec=mongod --noauth

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
