[Unit]
Requires=ai-network.service rss-network.service
After=ai-network.service rss-network.service

[Container]
ContainerName=ollama
# AMD
Image=docker.io/ollama/ollama:rocm
Volume=/mnt/volumes/ollama:/root/.ollama:Z
# AMD
AddDevice=/dev/kfd
AddDevice=/dev/dri
PublishPort=11434:11434/tcp

# used by both librechat & upvote-rss
Network=ai-network
Network=rss-network

# AMD
Environment=HIP_VISIBLE_DEVICES=0

# default is 5m
Environment=OLLAMA_KEEP_ALIVE=1m

# default is unlimited
Environment=OLLAMA_MAX_LOADED_MODELS=3
Environment=OLLAMA_DEFAULT_MODEL=qwen2.5:7b


# in bytes limit VRAM
# Environment=OLLAMA_MAX_VRAM=

# someone said this can reduce memory usage
# Environment=OLLAMA_KV_CACHE_TYPE=q4_0

# env vars can be found here:
# https://github.com/ollama/ollama/blob/main/envconfig/config.go

# might be relevant for AMD linux
# https://rocm.docs.amd.com/projects/install-on-linux/en/latest/install/quick-start.html

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]
# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
