[Unit]
Requires=vectordb.service ai-network.service
After=vectordb.service ai-network.service

[Container]
ContainerName=rag
Image=ghcr.io/danny-avila/librechat-rag-api-dev-lite
Network=ai-network

# set OPENAI_API_KEY & POSTGRES_PASSWORD
EnvironmentFile=/mnt/volumes/.librechat.env

# default mongodb://127.0.0.1:27018/LibreChat
Environment=ATLAS_MONGO_DB_URI=mongodb://mongo:27018/LibreChat
PublishPort=8000:8000/tcp

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
