[Unit]
Requires=ai-network.service
After=ai-network.service

[Container]
ContainerName=vectordb

# I think ankane suggested to use pgvector/pgvector instead
# not sure what the compatibility is between these
#Image=docker.io/pgvector/pgvector:pg17
Image=docker.io/pgvector/pgvector:0.8.0-pg15-trixie

Environment=POSTGRES_DB=mydatabase
Environment=POSTGRES_USER=myuser
EnvironmentFile=/mnt/volumes/.librechat.env
#Environment=POSTGRES_PASSWORD=USE_ENV_FILE

#Volume=/mnt/volumes/vectordb:/var/lib/postgresql/data:Z
Network=ai-network
HostName=db

# auto update
AutoUpdate=registry

# selector for backup container to stop with
Label=docker-volume-backup.stop-during-backup=true

[Service]

# allow time for a new image to download
TimeoutStartSec=900
Restart=always

[Install]

# automatic startup
WantedBy=default.target
